<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="BepInEx" value="https://nuget.bepinex.dev/v3/index.json" />
    <add key="GitHub-Coyoteq1" value="https://nuget.pkg.github.com/Coyoteq1/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="Microsoft.*" />
      <package pattern="xunit*" />
      <package pattern="coverlet*" />
      <package pattern="FluentAssertions*" />
      <package pattern="BouncyCastle*" />
      <package pattern="System.*" />
      <package pattern="Iced*" />
      <package pattern="VAutomationCore*" />
      <package pattern="VRising.*" />
      <package pattern="VampireReferenceAssemblies*" />
      <package pattern="HookDOTS*" />
      <package pattern="HarmonyX*" />
      <package pattern="MonoMod.*" />
      <package pattern="Mono.Cecil*" />
      <package pattern="SemanticVersioning*" />
      <package pattern="AssetRipper.*" />
      <package pattern="Samboy063.*" />
      <package pattern="runtime.*" />
      <package pattern="*" />
    </packageSource>
    <packageSource key="BepInEx">
      <package pattern="BepInEx.*" />
      <package pattern="Il2CppInterop*" />
    </packageSource>
    <packageSource key="GitHub-Coyoteq1">
      <package pattern="VAutomationCore*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
